<h1>What's your question?</h1>

<form action="/answer" data-turbo="false" method="get" class="form-control text-center">
  <label for="question">Your question</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="Ask!">
</form>
